body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
}

section {
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#skills h2,
#projects h2,
#contact h2 {
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

#skills ul,
#projects ul {
    padding-left: 20px;
}

#skills p,
#projects p,
#contact p {
    margin-bottom: 10px;
}

.project-item {
    cursor: pointer;
}

.project-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.show-details {
    max-height: 1000px; /* Adjust this value based on your content */
}
/* Add a triangle icon for the dropdown */
.project-title {
    position: relative;
    cursor: pointer;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #333 transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform 0.3s ease-out;
}

.show-details .arrow {
    transform: translateY(-50%) rotate(-180deg);
}
