@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif; 
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
}

.header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin: 0;
    font-size: 3em;
    letter-spacing: 2px;
}

.header p {
    margin: 10px 0;
    font-size: 1.2em;
}

.block {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    padding: 30px;
    transition: background-color 0.3s ease-in-out;
}

.skills, .projects, .contact {
    background-color: #fff; 
}

.skills:hover, .projects:hover, .contact:hover {
    background-color: #ecf0f1;
}


#skills h2, #projects h2, #contact h2 {
    color: #2c3e50;
    margin-bottom: 20px;
}

#skills ul, #projects ul {
    list-style-type: none;
}

#skills li, #projects li {
    margin-bottom: 15px;
    font-size: 1.1em;
}

.project-title .arrow {
    display: inline-block;
    margin-left: 5px; 
    transition: transform 0.3s ease-in-out;
}

.project-title.show-details .arrow {
    transform: rotate(180deg);
}


.project-title {
    color: #3498db;
    transition: color 0.3s ease-in-out;
    font-size: 1.4em;
    cursor: pointer;
}

.project-title:hover {
    color: #2980b9;
}

.project-details {
    display: none;
    background-color: #ecf0f1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 15px;
    margin-top: 15px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

.project-details p {
    margin-bottom: 15px;
}

.project-details a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.project-details a:hover {
    text-decoration: underline;
}

.project-details.show-details {
    display: block;
    max-height: 500px;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

#contact a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

#contact a:hover {
    text-decoration: underline;
}
